BILLING_ENVIRONMENT=test
BILLING_SCHEMA=billing_core_staging
BILLING_ADMISSION_TEST_MODE=false
BILLING_DATABASE_URL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BILLING_PRODUCT_CREDENTIALS_JSON=[]
BILLING_ACCOUNT_ASSERTION_KEYS_JSON=[]
BILLING_RETURN_URLS_JSON={}
BILLING_ENTITLEMENT_SIGNING_KEYS_JSON=[]
BILLING_HTTP_PORT=8787
BILLING_WEBHOOK_MAX_BYTES=1048576
